.blockHeader{
    margin-top: 70px;
    width: 100%;
    min-width: 425px;
    height: 254px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h1{
    width: 100%;
    color: #353f4f;
    font-size: 33px;
    text-align: center;
    padding: 0 4px;
}

.p{
    width: 100%;
    color: #757575;
    font-size: 19px;
    text-align: center;
    padding-left: 12px;
    padding-right: 12px;
}


