.explanatoryTextContainer{
    padding: 7px;
    max-width: 540px;
}

.upperCaseH3 {
    color: rgb(108, 117, 125);
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 24px;
    font-size: 16px;
}

.textName {
    color: rgb(53, 63, 79);
    margin-bottom: 16px;
}

.secondTextName {
    color: rgb(53, 63, 79);
    margin-bottom: 16px;
    
}

.casualText {
    color: rgb(108, 117, 125);
    line-height: 1.5;
    margin-bottom: 16px;
    font-size: 18px;
}

ul {
    padding-right: 40px;
}
li {
    color: rgb(108, 117, 125);
    margin-left: 18px;
    line-height: 1.5;
    margin-bottom: 16px;
    font-size: 18px;
}