.servicesContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-width: 1100px; /*istrinti kai parentas atsiras*/
  margin: auto;
  text-align: center;
  flex-wrap: wrap;
  margin-top: 40px;
}
.servicesItem {
  line-height: 1.5rem;
  width: 25%;
  max-width: 250px;
  min-width: 250px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}
.servicesItem h3 {
  font-family: "Plus Jakarta Sans", sans-serif;
  line-height: 1.35;
  font-size: 1.25rem;
}
.servicesItem p {
  color: grey;
  font-size: 1rem;
}
.iconBox {
  border-radius: 120px 70px 180px 70px;
  background-color: rgb(252, 231, 228);
  width: 6rem;
  height: 6rem;
  position: relative;

}
.icon {
  font-size: 4rem;
  color: red;
  position: absolute;
  inset: 10px;
}
