
.right{
    display: flex;
    background-color: green;
    flex-direction: row-reverse;
  }
  
  .left{
    display: flex;
    background-color: green;
  }
  
  @media (max-width: 767px) {
    .right, .left {
      flex-direction: column-reverse;
    }
  }
  
  @media (max-width: 767px) {
  .textFirst {
      flex-direction: column;
    }
  }