.hero {
  background-image: url(../../../../public/img/hero-background.jpg);
  background-size: fill;
  background-position-x: 100%;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 35px;
}

.hero > img {
  width: 100%;
  max-width: 632px;
}

.hero > button {
  height: 50px;
  width: 230px;
  border-radius: 10px;
  border: none;
  padding: 10px;
  color: white;
  background-color: rgb(15, 188, 73);
}
