.logo {
  width: 200px;
}

/* .lowerFooter > :first-child > p {
  font-size: 1rem;
  color: #6c757d;
  font-weight: 500;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.lowerFooter > :last-child > p {
  font-size: 1rem;
  color: #6c757d;
  font-weight: 500;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: right;
}

.higherFooter {
}

.higherFooter > * > p {
  font-weight: 200;
  font-size: 18.5px;
  color: #353f4f;
  margin-bottom: 25px;
}

.higherFooter > * > p:first-child {
  font-size: 20px;
  font-weight: bolder;
}

.higherFooter .icon {
  font-size: 25px;
  color: #6c757d;
  margin-right: 15px;
}

.lowerFooter .icon {
  font-size: 16px;
  color: #f74780;
}

.nav {
  font-weight: 200;
  font-size: 18.5px;
  color: #353f4f;
  margin-bottom: 25px;
  margin-right: 15px;
}

.nav {
  text-align: center;
}

span {
  margin-right: 5px;
} */
